<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../angular.min.js"></script>
</head>
<body ng-app>
<h1>EASY ANGULAR</h1>
<label for="nom">Prenom : </label>
<input type="text" ng-model="nbr1" id="nom"><p>{{    nbr1 | uppercase }}</p>
<br><br><br><br><br>
<label for="nomr">nom : </label>
<input type="text" ng-model="nbr2" id="nomr"><p>{{    nbr2 | uppercase }}</p>
<br>




</body >
</html>